body{
	background: black;
	margin: 0 1.5em 0 1.5em;
}

h1{
    display: inline;
    font-size: 45px;
}

p{
	font-size: 18px;
}

.logo{
	height: 50px;
	vertical-align: bottom;
	margin: 0 0 0 32em;
}

.titlearea {
   text-align: center;
    font-size: 30px;
    word-wrap: normal;
    background-position: 3px 4px;
    border-top: 13px solid;
    border-bottom: 13px solid;
    margin: 18px 0px;
    height: 45px;
    line-height: 45px;
    border-image: url(border.png) 30 20;
 }

.link{
	font-size: 25px;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    color: #8a6d3b;		
}

.ds1{
	line-height: 1.5;
}